<!--
  - Copyright (c) 2020. Alexander Sorokin
  -->

<template>
  <input
    v-model="selfValue"
    class="vi-input"
  >
</template>

<script>
export default {
  props: {
    value: {
      required: true,
      type: String
    }
  },
  computed: {
    selfValue: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  }
}
</script>

<style lang="scss">
.vi-input {
  box-sizing: border-box;
  height: 32px;
  padding: 4px 16px;
  border: 1px solid;
  border-radius: 6px;
}
</style>
