<!--
  - Copyright (c) 2020. Alexander Sorokin
  -->

<template>
  <div class="vi-loader" />
</template>

<style lang="scss" scoped>
@import '@/assets/variables';

.vi-loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  opacity: 0.8;
}
.vi-loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid;
  border-color: $mainColor transparent $mainColor transparent;
  animation: vi-loader 1.2s linear infinite;
}
@keyframes vi-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
