<!--
  - Copyright (c) 2020. Alexander Sorokin
  -->

<template>
  <div class="vi-table">
    <vi-pagination
      :page="selfPage"
      :number-of-pages="numberOfPages"
      class="vi-table__pagination"
      @back="onBackClick"
      @forward="onForwardClick"
    />
    <vi-form
      class="vi-table__form"
      @submit="onSubmit"
    >
      <vi-input
        v-model="filter"
        class="vi-table__filter"
      />
      <vi-button type="submit">
        Найти
      </vi-button>
    </vi-form>
    <table class="vi-table__table">
      <thead>
        <vi-table-th
          v-for="header in headers"
          :key="header.key"
          :header="header"
          :multisort="multisort"
          :sort-by="selfSortBy"
          @click="sort"
        />
      </thead>
      <tbody>
        <template v-if="error">
          <tr>
            <td
              :colspan="headers.length"
              class="vi-table__error"
            >
              {{ error }}
            </td>
          </tr>
        </template>
        <template v-else-if="selfItems.length">
          <tr
            v-for="item in pageItems"
            :key="item[idKey]"
            @click="onItemClick(item)"
          >
            <td
              v-for="header in headers"
              :key="header.key"
            >
              {{ item[header.key] }}
            </td>
          </tr>
        </template>
        <template v-else>
          <tr>
            <td
              :colspan="headers.length"
              class="vi-table__nodata"
            >
              Нет данных
            </td>
          </tr>
        </template>
      </tbody>
    </table>
    <vi-table-item-info
      v-if="selectedItem"
      :item="selectedItem"
      :item-info-config="itemInfoConfig"
    >
      <template
        v-for="slot in getSlots(itemInfoConfig)"
        #[slot]
      >
        <slot
          :name="slot"
          :item="selectedItem"
        />
      </template>
    </vi-table-item-info>
    <vi-loader v-if="loading" class="vi-table__loader" />
  </div>
</template>

<script>

import ViButton from '@/components/ViButton'
import ViInput from '@/components/ViInput'
import ViPagination from '@/components/ViPagination'
import ViLoader from '@/components/ViLoader'
import ViForm from '@/components/ViForm'
import ViTableTh from './ViTableTh'
import ViTableItemInfo from './ViTableItemInfo'
import { SortBy } from './shared'

const DEFAULT_PAGE = 1
const DEFAULT_ITEMS_PER_PAGE = 50

export default {
  components: {
    ViTableTh,
    ViButton,
    ViInput,
    ViPagination,
    ViLoader,
    ViForm,
    ViTableItemInfo
  },
  props: {
    idKey: {
      default: 'id',
      type: String
    },
    headers: {
      default () {
        return []
      },
      type: Array
    },
    items: {
      default () {
        return []
      },
      type: Array
    },
    multisort: Boolean,
    sortBy: {
      default () {
        return []
      },
      type: Array
    },
    page: {
      default: DEFAULT_PAGE,
      type: Number
    },
    itemsPerPage: {
      default: DEFAULT_ITEMS_PER_PAGE,
      type: Number
    },
    loading: Boolean,
    error: {
      default: null,
      type: String
    },
    itemInfoConfig: {
      default: () => {
        return {

        }
      },
      type: Object
    }
  },
  data () {
    const numberOfPages = this.getNumberOfPages(this.items, this.itemsPerPage)
    return {
      selfSortBy: new SortBy(this.sortBy),
      selfPage: Math.min(this.page, numberOfPages),
      filter: '',
      confirmedFilter: '',
      selectedItem: null
    }
  },
  computed: {
    numberOfPages () {
      return this.getNumberOfPages(this.selfItems, this.itemsPerPage)
    },
    selfItems () {
      let items = this.items.slice()

      items = this.filterItems(items)

      this.sortItems(items)

      return items
    },
    pageItems () {
      return this.getPageItems(this.selfItems)
    }
  },
  watch: {
    numberOfPages (value) {
      if (this.selfPage > value) {
        this.selfPage = value
      }
    },
    pageItems (pageItems) {
      if (this.selectedItem) {
        for (const item of pageItems) {
          if (item.id === this.selectedItem.id) {
            return
          }
        }

        this.selectedItem = null
      }
    }
  },
  methods: {
    getSlots () {
      return this.itemInfoConfig.rows.filter((row) => !!row.slot).map((row) => row.slot)
    },
    getNumberOfPages (items, itemsPerPage) {
      return Math.ceil(items.length / itemsPerPage) || 1
    },
    sortItems (items) {
      items.sort((a, b) => {
        for (const keyConfig of this.selfSortBy.getArr()) {
          let aValue = a[keyConfig.key]
          let bValue = b[keyConfig.key]

          if (keyConfig.desc) {
            [aValue, bValue] = [bValue, aValue]
          }

          if (aValue === bValue) {
            continue
          }

          return String(aValue).toLocaleLowerCase() > String(bValue).toLocaleLowerCase()
            ? 1
            : -1
        }

        return 0
      })

      return items
    },
    getPageItems (items) {
      const end = this.selfPage * this.itemsPerPage
      const start = end - this.itemsPerPage

      return items.slice(start, end)
    },
    filterItems (items) {
      return items.filter((item) => {
        const keys = this.headers.map((header) => header.key)
        for (const key of keys) {
          const value = item[key]

          if (String(value).toLocaleLowerCase().includes(this.confirmedFilter.toLocaleLowerCase())) {
            return true
          }
        }

        return false
      })
    },
    updateSelfSortBy (key) {
      const keyConfig = this.selfSortBy.get(key)

      if (keyConfig) {
        if (keyConfig.desc) {
          this.selfSortBy.delete(key)
        } else {
          keyConfig.desc = true
        }
      } else {
        const obj = {
          key,
          desc: false
        }
        if (this.multisort) {
          this.selfSortBy.push(obj)
        } else {
          this.selfSortBy = new SortBy([obj])
        }
      }
    },
    onSubmit () {
      this.confirmedFilter = this.filter
    },
    sort (key) {
      this.updateSelfSortBy(key)
    },
    onBackClick () {
      this.selfPage--
    },
    onForwardClick () {
      this.selfPage++
    },
    onItemClick (item) {
      this.selectedItem = item
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/variables';

$viTableTdBorder: 1px;
.vi-table {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vi-table__pagination {
  margin-bottom: 10px;
}
.vi-table__form {
  margin-bottom: 10px;
  display: flex;
}
.vi-table__filter {
  margin-right: 10px;
}
.vi-table__table {
  width: 100%;
  border-collapse: collapse;
}
.vi-table__table td {
  border-bottom: $viTableTdBorder solid $mainColor;
  padding: 8px;
  cursor: pointer;
}
.vi-table__table tr:hover td {
  background: $mainColorLighten;
}
.vi-table__error,
.vi-table__nodata {
  text-align: center;
}
.vi-table__loader {
  bottom: -$viTableTdBorder;
}
</style>
