<!--
  - Copyright (c) 2020. Alexander Sorokin
  -->

<template>
  <th
    class="vi-table-th"
    @click="onClick"
  >
    {{ header.text }}
    <template v-if="sortInfo">
      <!-- eslint-disable-next-line -->
      <span v-html="sortInfo.arrow" />
      <span class="vi-table-th__number">{{ sortInfo.index + 1 }}</span>
    </template>
  </th>
</template>

<script>
import { SortBy } from './shared'

export default {
  props: {
    header: {
      required: true,
      type: Object
    },
    sortBy: {
      required: true,
      type: SortBy
    },
    multisort: Boolean
  },
  computed: {
    sortInfo () {
      const keyConfig = this.sortBy.get(this.header.key)
      if (keyConfig) {
        return {
          arrow: keyConfig.desc
            ? '&#8595;'
            : '&#8593;',
          index: this.sortBy.getIndex(this.header.key)
        }
      }

      return null
    }
  },
  methods: {
    onClick () {
      this.$emit('click', this.header.key)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/variables';

.vi-table-th {
  border-bottom: 1px solid $mainColor;
  padding: 8px;
  cursor: pointer;
}
.vi-table-th:hover {
  background: $mainColorLighten;
}
.vi-table-th__number {
  font-size: 0.8em;
}
</style>
