<!--
  - Copyright (c) 2020. Alexander Sorokin
  -->

<template>
  <div
    v-if="item"
    class="vi-table-item-info"
  >
    <!-- eslint-disable-next-line -->
    <div v-html="itemInfoConfig.title(item)" class="vi-table-item-info__title"/>
    <table>
      <tr
        v-for="row in itemInfoConfig.rows"
        :key="row.title"
      >
        <slot
          v-if="getRowSlot(row)"
          :name="getRowSlot(row)"
          :item="item"
        />
        <template v-else>
          <td>{{ row.title }}</td>
          <td><b>{{ getValueByPath(item, row.path) }}</b></td>
        </template>
      </tr>
    </table>
  </div>
</template>

<script>

export default {
  props: {
    item: {
      required: true,
      type: Object
    },
    itemInfoConfig: {
      required: true,
      type: Object
    }
  },
  methods: {
    getRowSlot (row) {
      return row.slot
    },
    getValueByPath (item, path) {
      const bits = path.split('.')
      let value = item[bits[0]]
      for (const bit of bits.slice(1)) {
        value = value[bit]
      }
      return value
    }
  }
}
</script>

<style lang="scss">
.vi-table-item-info {
  margin-top: 30px;
  align-self: start;
  width: 100%;
}
.vi-table-item-info__title {
  margin-bottom: 20px;
}
</style>
