<!--
  - Copyright (c) 2020. Alexander Sorokin
  -->

<template>
  <div class="vi-pagination">
    <a
      href=""
      title="Назад"
      class="vi-pagination__arrow"
      :class="{'vi-pagination__arrow_invisible': page === 1}"
      @click.prevent="onBackClick"
    >&#8592;</a>
    Страница {{ page }} из {{ numberOfPages }}
    <a
      href=""
      title="Вперед"
      class="vi-pagination__arrow"
      :class="{'vi-pagination__arrow_invisible': page === numberOfPages}"
      @click.prevent="onForwardClick"
    >&#8594;</a>
  </div>
</template>

<script>
export default {
  props: {
    page: {
      default: 1,
      type: Number
    },
    numberOfPages: {
      default: 1,
      type: Number
    }
  },
  methods: {
    onBackClick () {
      this.$emit('back')
    },
    onForwardClick () {
      this.$emit('forward')
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/variables';

.vi-pagination {}
.vi-pagination__arrow {
  text-decoration: none;
  font-size: 1.5em;
  color: $mainColor;
  user-select: none;
}
.vi-pagination__arrow:hover {
  color: $mainColorDarken;
}
.vi-pagination__arrow_invisible {
  visibility: hidden;
}
</style>
