<!--
  - Copyright (c) 2020. Alexander Sorokin
  -->

<template>
  <textarea v-model="selfValue" />
</template>

<script>
export default {
  props: {
    value: {
      required: true,
      type: String
    }
  },
  computed: {
    selfValue: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  }
}
</script>
