<!--
  - Copyright (c) 2020. Alexander Sorokin
  -->

<template>
  <button
    class="vi-button"
    :type="type"
    @click="onClick"
  >
    <slot />
  </button>
</template>

<script>
export default {
  props: {
    type: {
      default: 'button',
      type: String
    }
  },
  methods: {
    onClick () {
      this.$emit('click')
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/variables';

.vi-button {
  background: $mainColor;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 4px 16px;
  line-height: 24px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
}
.vi-button:hover {
  background: $mainColorDarken;
}
</style>
