<!--
  - Copyright (c) 2020. Alexander Sorokin
  -->

<template>
  <form @submit.prevent="onSubmit">
    <slot />
  </form>
</template>

<script>
export default {
  methods: {
    onSubmit () {
      this.$emit('submit')
    }
  }
}
</script>
