<!--
  - Copyright (c) 2020. Alexander Sorokin
  -->

<template>
  <div
    id="app"
    class="app"
  >
    <div class="app__buttons">
      <vi-button
        class="app__button"
        @click="fetchSmall"
      >
        Загрузить маленький набор
      </vi-button>
      <vi-button
        class="app__button"
        @click="fetchBig"
      >
        Загрузить большой набор
      </vi-button>
    </div>
    <vi-table
      :items="items"
      :headers="headers"
      :error="error"
      :loading="loading"
      :item-info-config="itemInfoConfig"
      multisort
    >
      <template #description="{item}">
        <td>
          Описание:
        </td>
        <td>
          <vi-textarea
            :value="item.description"
            rows="5"
            class="app__item-description"
          />
        </td>
      </template>
    </vi-table>
  </div>
</template>

<script>
import ViTable from '@/components/ViTable'
import ViButton from '@/components/ViButton'
import ViTextarea from '@/components/ViTextarea'
import escape from 'lodash.escape'

const SMALL_SET_URL = 'http://www.filltext.com/?rows=32&id=%7Bindex%7D&firstName=%7BfirstName%7D&lastName=%7BlastName%7D&email=%7Bemail%7D&phone=%7Bphone%7C(xxx)xxx-xx-xx%7D&address=%7BaddressObject%7D&description=%7Blorem%7C32%7D'
const BIG_SET_URL = 'http://www.filltext.com/?rows=1000&id=%7Bindex%7D&firstName=%7BfirstName%7D&delay=3&lastName=%7BlastName%7D&email=%7Bemail%7D&phone=%7Bphone%7C(xxx)xxx-xx-xx%7D&address=%7BaddressObject%7D&description=%7Blorem%7C32%7D'

export default {
  name: 'App',
  components: {
    ViTable,
    ViButton,
    ViTextarea
  },
  data () {
    return {
      items: [],
      error: null,
      loading: false,
      fetchId: 0,
      headers: [
        { key: 'id', text: 'ID' },
        { key: 'firstName', text: 'First Name' },
        { key: 'lastName', text: 'Last Name' },
        { key: 'email', text: 'Email' },
        { key: 'phone', text: 'Phone' }
      ],
      itemInfoConfig: {
        title (item) {
          return `Выбран пользователь <b>${escape(item.firstName)} ${escape(item.lastName)}</b>`
        },
        rows: [
          {
            title: 'Описание',
            slot: 'description'
          },
          {
            title: 'Адрес проживания',
            path: 'address.streetAddress'
          },
          {
            title: 'Город',
            path: 'address.city'
          },
          {
            title: 'Провинция/штат',
            path: 'address.state'
          },
          {
            title: 'Индекс',
            path: 'address.zip'
          }
        ]
      }
    }
  },
  methods: {
    async fetchSmall () {
      await this.fetch(SMALL_SET_URL)
    },
    async fetchBig () {
      await this.fetch(BIG_SET_URL)
    },
    async fetch (url) {
      this.fetchId++
      const fetchId = this.fetchId
      this.loading = true
      try {
        const response = await fetch(url)
        const items = await response.json()
        if (fetchId !== this.fetchId) return
        this.items = items
        this.error = null
      } catch (e) {
        if (fetchId !== this.fetchId) return
        this.items = []
        this.error = 'Не удалось загрузить данные'
      }

      this.loading = false
    }
  }
}
</script>

<style lang="scss">
.app {
  max-width: 800px;
  margin: 0 auto;
}
.app__buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.app__button {
  margin-left: 10px;
}
.app__button:first-child {
  margin-left: 0;
}
.app__item-description {
  display: block;
}
</style>
